<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TripsDAO</servlet-name>
        <servlet-class>Model.Dao.TripsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trip</servlet-name>
        <servlet-class>Model.Entity.Trip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsServlet</servlet-name>
        <servlet-class>Controller.getAllTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyForTrips</servlet-name>
        <servlet-class>Controller.applyForTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrip</servlet-name>
        <servlet-class>Controller.deleteTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <servlet-class>Controller.AdminBootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsAfterFilterServlet</servlet-name>
        <servlet-class>Controller.getAllTripsAfterFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewInternshipStudent</servlet-name>
        <servlet-class>Controller.addNewInternshipStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>Controller.updateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsFilteredServlet</servlet-name>
        <servlet-class>Controller.getAllTripsFilteredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storedAllFilteredVariables</servlet-name>
        <servlet-class>Controller.storedAllFilteredVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadItinerary</servlet-name>
        <servlet-class>Controller.downloadItinerary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllAdminsServlet</servlet-name>
        <servlet-class>Controller.getAllAdminsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAdmin</servlet-name>
        <servlet-class>Controller.deleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdmin</servlet-name>
        <servlet-class>Controller.addAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>Controller.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountConfirmation</servlet-name>
        <servlet-class>Controller.accountConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminExcelFileDownload</servlet-name>
        <servlet-class>Controller.AdminExcelFileDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCountryInternship</servlet-name>
        <servlet-class>Controller.deleteCountryInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCountryInternship</servlet-name>
        <servlet-class>Controller.getAllCountryInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDAO</servlet-name>
        <servlet-class>Model.Dao.CompanyDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company</servlet-name>
        <servlet-class>Model.Entity.Company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCompaniesServlet</servlet-name>
        <servlet-class>Controller.getAllCompaniesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllInternshipsServlet</servlet-name>
        <servlet-class>Controller.getAllInternshipsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInternshipApproval</servlet-name>
        <servlet-class>Controller.updateInternshipApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInternshipRejection</servlet-name>
        <servlet-class>Controller.updateInternshipRejection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPartnerInternship</servlet-name>
        <servlet-class>Controller.addPartnerInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPayment</servlet-name>
        <servlet-class>Controller.addPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePartnerInternship</servlet-name>
        <servlet-class>Controller.deletePartnerInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCountryInternship</servlet-name>
        <servlet-class>Controller.addCountryInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>internshipConfirmToCancel</servlet-name>
        <servlet-class>Controller.internshipConfirmToCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>internshipPendingStatus</servlet-name>
        <servlet-class>Controller.internshipPendingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignedInternshipToUser</servlet-name>
        <servlet-class>Controller.assignedInternshipToUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripsDAO</servlet-name>
        <url-pattern>/TripsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trip</servlet-name>
        <url-pattern>/Trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsServlet</servlet-name>
        <url-pattern>/getAllTripsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyForTrips</servlet-name>
        <url-pattern>/applyForTrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrip</servlet-name>
        <url-pattern>/deleteTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <url-pattern>/AdminBootstrapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsAfterFilterServlet</servlet-name>
        <url-pattern>/getAllTripsAfterFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewInternshipStudent</servlet-name>
        <url-pattern>/addNewInternshipStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsFilteredServlet</servlet-name>
        <url-pattern>/getAllTripsFilteredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storedAllFilteredVariables</servlet-name>
        <url-pattern>/storedAllFilteredVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadItinerary</servlet-name>
        <url-pattern>/downloadItinerary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllAdminsServlet</servlet-name>
        <url-pattern>/getAllAdminsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAdmin</servlet-name>
        <url-pattern>/deleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdmin</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountConfirmationServlet</servlet-name>
        <url-pattern>/accountConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminExcelFileDownload</servlet-name>
        <url-pattern>/AdminExcelFileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCountryInternship</servlet-name>
        <url-pattern>/deleteCountryInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllCountryInternship</servlet-name>
        <url-pattern>/getAllCountryInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDAO</servlet-name>
        <url-pattern>/CompanyDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company</servlet-name>
        <url-pattern>/Company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllCompaniesServlet</servlet-name>
        <url-pattern>/getAllCompaniesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllInternshipsServlet</servlet-name>
        <url-pattern>/getAllInternshipsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInternshipApproval</servlet-name>
        <url-pattern>/updateInternshipApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInternshipRejection</servlet-name>
        <url-pattern>/updateInternshipRejection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPartnerInternship</servlet-name>
        <url-pattern>/addPartnerInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPayment</servlet-name>
        <url-pattern>/addPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePartnerInternship</servlet-name>
        <url-pattern>/deletePartnerInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCountryInternship</servlet-name>
        <url-pattern>/addCountryInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>internshipConfirmToCancel</servlet-name>
        <url-pattern>/internshipConfirmToCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>internshipPendingStatus</servlet-name>
        <url-pattern>/internshipPendingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignedInternshipToUser</servlet-name>
        <url-pattern>/assignedInternshipToUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
